/* .container {
    background-color: rgb(9, 17, 92);
    position: absolute;
    top: 0px;
    width: 1125px !important;
    left: 104px;
    margin-left: 100px;
    height: 72px;
    
}
.dropdown {
    color: rgb(189, 154, 39);
  

    margin-left: -30px;
    margin-top: 16px;
    height: 35px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
    padding: 0;
    border: none;
    background: none;
  
}


.logo {
    margin-top: 5px;
    width: 50%;
    border-radius: 20px;
    margin-left: 15px;
}
.logo2 {
    margin-left: 130px;
    margin-top: 35px;
    width: 19%;
    border-radius: 20px;
}
.Footer {
    width: 100%;
    height: 450px;
    background-color: rgb(3, 53, 46);
    color: white;
    margin-top: 500px;
}
.rout {
    margin-left: 70%;
}
.content {
    position: absolute;
    top: 158px;
}
.signIn {
    text-decoration: none;

    border-radius: 6px;
}
.butt {
    background-color: rgb(189, 154, 39);
    height: 35px;
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 18%;
}
.nav {
    color: rgb(204, 160, 15);
    cursor: pointer;
    width: 100%;
    text-decoration: none;
  text-align: center;
    margin-top: 23%;
}
.productn{
    color: rgb(204, 160, 15);
    cursor: pointer;
    width: 100%;
    text-decoration: none;
  
    margin-left: -5px;
    margin-top: 0px;
   
  
}
.Signupform {
   
    background-color: lightgrey;
    height: 500px;
    width: 92%;
    position: absolute;
    top: 70px;
    left: 98px;
}
.textt {
    width: 85%;
    height: 30px;
  position: relative;
  left: 30px;
  top: 10px;

}
.loginfom {
   
    background-color: lightgrey;
    width: 92%;
    height: 500px;
  
    position: absolute;
    top: 70px;
    left: 98px;
}
.text {
    width: 60%;
    position: relative;
    left: 100px;
    top: 50px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signuptext {
    background-color: rgb(240, 235, 235);
    border-radius: 20px;
    width: 40%;
    height: 445px;
    margin-left: 350px;
    position: relative;
    top: -10px;
    
}

.textall {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 40%;
    height: 350px;
    z-index: -1;
    margin-left: 300px;
}
.ddd {
    margin-left: 370px;
    z-index: -1;
}
.dddd {
    margin-left: 460px;
}
.button {
    position: relative;
    top: 80px;
    left: 100px;
    width: 60%;
}
.buttonn {
    position: relative;
    top: 110px;
    left: -70px;
    width: 50%;
}
.signUp {
    position: relative;
    top: 98px;
   left: 240px;
    text-decoration: none;

    border-radius: 6px;
}
.signUp1 {
    position: relative;
    top: 130px;
    left: -170px;
    text-decoration: none;

    border-radius: 6px;
}
.Image2 {
    position: relative;
    top: -90px;
    width: 100%;
    height: 500px;
    z-index: -1;
    opacity: 1;
}
.signupcheak{
    position: absolute;
    top: 200px;
}
.contact {
    background-color: white;
    width: 80%;
    margin-top: 70px;
    height: 370px;
    border-radius: 5px;
}
.company {
    margin-top: 70px;
}

.demo {
    color: black;
    text-align: center;
}
.demo1 {
    position: relative;
    top: 5px;
}
.radio {
    position: relative;
    top: 30px;
    left: 40px;
}
.Dropdown_dropdown__2uCPa ul:first-child {
    max-height: 150px;

    overflow: auto;
}
.item1 {
    position: inherit !important;
}
.submenu {
    position: absolute;
    top: 0;
}


.logname {
    position: absolute;
    top: 20px;
    text-decoration: none;
    color: rgb(189, 154, 39);
    border-radius: 4px;
    font-weight: bold;
    
}
.loout {
    height: 34px;
    position: relative;
    top: 6px;
}
.nameee {
    margin-left: -26px;
    margin-top: 10px;
}
.logna {
    background-color: rgb(189, 154, 39);
    border: none;
    padding: -5px;
   
}
.signuobutt {
    text-decoration: none;
}
.validatinn {
    color: red;
    margin-top: 80px;
    margin-left: 60px;
    position: relative;
    top: 30px;
    left: 60px;
}
.errormassg {
    padding-left: 25px;
    color: red;

    position: relative;
    top: 20px;
}
.requ {
    color: red;
    margin-left: -230px;
    position: relative;
    top: 105px;
}
.productimage {
    width: 100%;
}
.Footter {
    width: 1125px;
    height: 100px;
    background-color: rgb(2, 59, 27);
    position: absolute;
    top: 568px;
    left: 100px;
}
.product {
    color: rgb(189, 154, 39);
    font-weight: bold;
    margin-top: 40px;
}
.dashboard{
    background-color: rgb(0, 82, 82);
    height: 668px;
    width: 100px;
} */