.paper {
    width: 300px;
    height: 300px;
    margin: auto;
    background-image: linear-gradient(steelblue, skyblue);
    margin-top: 100px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: white !important;
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 12px 2px black !important;
  }
  .fontcss {
    font-family: sans-serif;
    font-size: 30px;
    padding-top: 20px;
  }
  .elementcenter {
    display: flex;
    justify-content: space-around;
  }
  .temperatureC{
      margin-left: 50px;
  }
  .temperatureF{
      margin-right: 50px;
  }
  .imgcss {
    background-color: lightblue;
    border-radius: 50%;
    box-shadow: 2px 2px 13px 2px white;
    
  }