.logo1 {
    width: 50px;
    border-radius: 18px;
    margin-top: -7px;
    position: absolute;
    top: 0px;
    left: 15px;
}

.nav {
    color: rgb(189, 154, 39) !important;
    font-weight: bold !important;
    font-size: 70%;
    width: 100%;
    text-decoration: none;
}
nav {
    z-index: 1000;
}
/* @media only screen and (max-width: 810px) {
    .container {
        background-color: rgb(9, 17, 92);
        height: 70px;
    }
    .nav {
        color: rgb(189, 154, 39);
        font-weight: bold;
        margin-left: 20px;
        width: 100%;
    }
}

@media only screen and (min-width: 809px) {
    .container {
        background-color: rgb(9, 17, 92);
        height: 70px;
    }
    .nav {
        color: rgb(189, 154, 39) !important;
        font-weight: bold;
        font-size: 70%;
        text-decoration: none;
    }
    .containerfl {
        margin-left: 700px;
        position: relative;
        top: -20px;
    }
} */
.dropdown {
    color: rgb(189, 154, 39);

    /* margin-left: -30px;
    margin-top: 16px;
    height: 35px; */
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
    padding: 0;
    border: none;
    background: none;
}

.dropdownn {
    color: rgb(71, 71, 71);
    margin-left: 150px;
    margin-top: 16px;
    height: 35px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
    padding: 0;
    border: 1px solid rgb(82, 82, 82);
    background: none;
    max-height: 150px !important;
    overflow: auto !important;
    position: relative;
    top: -230px;
    left: -100px;
}

.vvvv {
    position: relative;
    top: -50px;
}
.Foottersidebar {
    margin-left: 160px;
    width: 88%;
    height: 60px;
    margin-top: -60px;
    background-color: steelblue;
}

/* .Dropdown_menu__2H-9U{
    max-height: 240;
    overflow: auto;
} */

/* .Dropdown_menu__1SoFv {
    max-height: 170px !important;
    position: inherit !important;
    overflow: auto !important;
} */
.addcatname {
    font-weight: bold;
    font-size: 120%;
    margin-left: 30px;
    /* margin-top: -20px; */

    position: relative;
    top: -15px;
}

.addcatbutt {
    background-color: rgb(8, 0, 121);
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    border: inherit;
    margin-left: 69%;
    position: relative;
    top: -15px;
}

.logo {
    margin-top: 5px;
    width: 46%;
    border-radius: 20px;
    margin-left: 15px;
}
.logo2 {
    margin-left: 130px;
    margin-top: 35px;
    width: 19%;
    border-radius: 20px;
}
.Footer {
    width: 100%;
    height: 450px;
    background-color: rgb(3, 53, 46);
    color: white;
    margin-top: 500px;
}
.rout {
    margin-left: 70%;
}
.content {
    height: 421px;
    margin-top: 156px;
    z-index: -1;
}
.signIn {
    text-decoration: none;

    border-radius: 6px;
}
.butt {
    background-color: rgb(189, 154, 39);
    height: 35px;
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 18%;
}

.productn {
    color: rgb(204, 160, 15);
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    top: -7px;

    margin-left: -20px;
}
.Signupform {
    text-align: center;
}
.textt {
    width: 65%;
    height: 40px;
    /* position: relative;
    left: 60px;
    top: 20px; */
}
.loginfom {
    margin-top: 67px;
    background-color: lightgrey;
    height: 500px;
    z-index: -1;
}
.loginformcontainer {
    margin-top: 220px;
    height: 476px;
    max-width: 600px !important;
}
.sgsd {
    background-color: lightgray;
    padding-top: 1px;
}
.explore {
    text-align: center !important;
    margin-top: 155px;
    border: 1px solid lightgray;
    margin-top: -120px;
}
.exploreSignup {
    text-align: center !important;
    margin-top: 155px;
    border: 1px solid lightgray;
    margin-bottom: 60px;
    margin-top: -120px;
}
.signupitem {
    text-align: center !important;
    margin-bottom: 20px;
}
.inputtextfield {
    width: 70%;
}
.loginbutton {
    width: 20%;
}

.categorydiv {
    padding-top: 20px;
    margin-top: 100px;
}
.text {
    width: 60%;
    position: relative;
    left: 100px;
    top: 50px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signuptext {
    background-color: rgb(240, 235, 235);
    border-radius: 20px;
    width: 45%;
    height: 600px;
    margin-left: 350px;
}

.textall {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 40%;
    height: 350px;
    z-index: -1;
    margin-left: 300px;
}
.ddd {
    margin-left: 400px;
    z-index: -1;
}
.dddd {
    margin-left: 460px;
}
.button {
    position: relative;
    top: 80px;
    left: 100px;
    width: 60%;
}
.buttonn {
    position: relative;
    top: 110px;
}
.signUp {
    position: relative;
    top: 130px;
    left: -170px;
    text-decoration: none;

    border-radius: 6px;
}
.signupbtn {
    width: 40%;
}
.signUp1 {
    position: relative;
    top: 130px;
    left: -170px;
    text-decoration: none;

    border-radius: 6px;
}
.Image2 {
    position: relative;
    top: -90px;
    width: 100%;
    height: 512px;
    z-index: -1;
    opacity: 1;
}
.css-1wnsr1i {
    border-radius: 10px;
}
.contact {
    background-color: white;
    width: 80%;
    margin-top: 70px;
    height: 370px;
    border-radius: 5px;
}
.company {
    margin-top: 70px;
}

.demo {
    color: black;
    text-align: center;
}
.demo1 {
    position: relative;
    top: 5px;
}
/* .radio {
    position: relative;
    top: 40px;
    left: 60px;
} */
/* .Dropdown_dropdown__2uCPa ul:first-child {
    max-height: 150px;

    overflow: auto;
} */
/* .list ul:li{
    position: relative !important;
    top: 100px !important;
} */
.item1 {
    position: inherit !important;
    color: black !important;
}
.submenu {
    position: absolute;
    top: 0;
    color: black;
}

/* .submenu{
    margin-top: 30px;
} */

/* .Submenu_submenu__27JbO ul:first-child{

  

  background-color: rgb(193, 211, 184);


  
}
.
.Submenu_submenu__27JbO  {
   
    max-height: 100px !important;
  
}
.Item_item__bLcyU{
    position: remove !important;
} */
.logname {
    text-decoration: none;
    color: rgb(189, 154, 39);
    border-radius: 4px;
    font-weight: bold;
    font-size: 80%;
    text-transform: capitalize;
}

.loout {
    height: 34px;
    position: relative;
    top: 6px;
}
.textdec {
    text-decoration: none;
}
.nameee {
    margin-left: -26px;
    margin-top: 10px;
}
.logna {
    background-color: rgb(189, 154, 39);
    color: rgb(189, 154, 39);
}
.signuobutt {
    text-decoration: none;
}
.validatinn {
    color: red;
    margin-left: -40%;
}
.errormassg {
    margin-bottom: 10px;
    color: red;
}
.requ {
    color: red;
    margin-left: -40%;
}
.Dropdown_menu__2p0Cc {
    max-height: 240px !important;
    overflow: auto !important;
    position: static !important;
}
.Submenu_submenu__2mKS9 {
    right: 70% !important;
}
.signupcontainer {
    margin-top: 220px;
    max-height: 477px;
    max-width: 800px !important;
}
.signscrllbar {
    /* max-height: 600px; */
    height: 1000px;
    overflow-y: auto;
    background-color: lightgray;
}
.productimage {
    width: 100% !important;
    height: 200px;
}
.productbackgroundColor {
    background-color: rgb(191, 195, 255);
    padding-top: 20px;
    padding-bottom: 20px;
}
.productcartimage {
    height: 140px;
    width: 50%;
    border-radius: 20px;
    margin-left: 100px;
}
.aaditem {
    margin-top: 50px;
}
.itemprize {
    margin-top: 30px;
}
.itemRemove {
    border: none;
    cursor: pointer;
    margin-left: 60px;
}
.productName {
    color: rgb(87, 93, 180);
}
.productNamed {
    color: rgb(94, 134, 90);
    width: 10px;
    font-weight: bolder;
}
.prices {
    font-size: larger;
}
.cartbutton {
    color: rgb(5, 81, 100);
    font-size: large;
    font-weight: bolder;
    background-color: rgb(238, 223, 182);
    border-radius: 10px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    border: none;
}
.Footter {
    width: 100%;
    height: 80px;
    background-color: rgb(2, 59, 27);
    /* margin-top: 20px; */
}
/* .Dropdown_menu__Kt33l{
    position: unset !important;
    max-height: 250px;
    overflow: auto;
} */
.product {
    color: rgb(189, 154, 39);
    font-weight: bold;
    margin-top: 40px;
}
.sidenav {
    height: 655px;
    width: 160px;
    background-color: rgb(253, 251, 241);
    margin-top: -70px;
    border: 1px solid rgb(224, 224, 224);
}
.sidebarheader {
    margin-left: 160px;
    width: 88%;
    height: 70px;
    background-color: rgb(8, 0, 121);
}

.navbarnname {
    text-decoration: none !important;

    position: relative;
    top: 30px;
}
.memebre {
    margin-left: 10px;
}
.navtext {
    margin-left: 10px;
    cursor: pointer;
}
.productImagepost{
    position: relative;
    left: -600px;
}
.categry {
    max-height: 490px !important;
    width: 88%;

    position: absolute;
    top: 75px;
    left: 160px;
    overflow: auto;
    padding-top: 25px;
}
.subcategorys {
    margin-top: 120px;
}
.productApis {
    margin-top: 120px;
}

.catbutton {
    margin-left: 1000px;
    margin-top: 20px;
    background-color: powderblue;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
}
.catbuttonn {
    background-color: rgb(0, 80, 90);
    color: white;
    border-radius: 5px;
    padding: 6px 20px;
    cursor: pointer;
    border: inherit;
}
.catform {
    width: 87%;
    position: absolute;
    top: 70px;
    left: 160px;
    background-color: rgb(247, 247, 247);
    height: 530px;
}
.aalllproduct {
    max-height: 505px;
    overflow-y: scroll;
    margin-top: 72px;
}

.productContainer {
    max-width: 1300px !important;
    margin-top: 20px;
}
.productitems {
    margin-bottom: 20px;
}
.cartitems {
    padding-bottom: 20px;
}
.productspacing {
    margin-top: 30px;
}
/* element.style{
       max-width: 900px !important;
   } */
.productshow {
    max-width: 100%;
    height: 577px;
    max-height: 600px;
    display: flex;
  overflow: auto;
}
.cartitem {
    max-width: 100%;
    background-color: rgb(247, 247, 247);
    display: flex;
    /* padding-top: 10px;
   
    margin-left: 50px; */
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.itemspace {
    margin-left: auto;
}
.cart {
    max-width: 100%;
    height: 510px;
    margin-top: 67px;

    overflow: auto;
}
.payment {
    background: none;
    border: none;

    margin-left: 81%;
    background-color: rgb(0, 7, 100);
    color: white;
    cursor: pointer;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;

    border-radius: 4px;
    margin-bottom: 20px;
}
.payment:hover {
    background-color: rgb(86, 0, 107);
    color: white;
}
.productshowimage {
    margin-top: 60px;
    max-width: 600px;
    max-height: 200px;
}
.totel {
    margin-left: 82%;
    color: rgb(0, 21, 114);
    text-shadow: 2px 2px #dac8c8;
    max-width: 180px;
}
.thumb {
    max-height: 60px !important;
}
.thumbs {
    max-width: 100px !important;
}
.dd {
    max-width: 660px;
}

.productprizedetail {
    margin-left: 40px;
    margin-top: 60px;
}

.subproductimage {
    /* height: 300px;
   width: 400px; */
}
.catforchild {
    height: 300px;
    width: 80%;
}
.adddcat {
    margin-left: 50px;
}
.texttt {
    width: 60%;
    position: relative;
    left: 40px;
}
.addcat {
    margin-left: 40px;
    margin-top: 20px;
    background-color: rgb(188, 165, 211);
    border-radius: 5px;
    padding: 12px 130px 12px 130px;
    cursor: pointer;
}
.addcatt {
    margin-left: -850px;
    margin-top: 20px;
    background-color: rgb(188, 165, 211);
    border-radius: 5px;
    position: relative;
    top: 100px;
    padding: 12px 150px 12px 150px;
    cursor: pointer;
}
.categoryTable {
    width: 200px;
    height: 200px;
}
.Category {
    color: rgb(189, 154, 39);
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
    padding: 0;
    border: none;
    background: none;
    max-height: 150px !important;
    overflow: auto !important;
}

.tabletext {
    font-weight: bold !important;
    text-align: center !important;
}
.tabletextt {
    text-align: center !important;
}

.usenamer {
    margin-left: 940px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 25px;
    color: white;
}
.adnewctr {
    text-decoration: none;
}
.Homedash {
    position: absolute;
    top: 70px;
    /* top: 70px;
    left: 162px;
    height: 300px;
    width: 300px; */

    margin-left: 160px;
    width: 88%;
    height: 526px;
    background-color: rgb(235, 255, 255);
}

.Productapicls {
    position: absolute;
    top: 70px;
    margin-left: 160px;
    width: 87%;
    height: 450px;
    background-color: rgb(235, 255, 255);
}
.tablehead {
    background-color: rgb(221, 221, 221);
}
.addprodbutt {
    background-color: rgb(8, 0, 121);
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    border: inherit;
    /* margin-left: 70%; */
    position: relative;
    top: -14px;
    left: 800px;
    text-decoration: none;
}
.selectt {
    height: 55px;

    background-color: rgb(241, 241, 241);
    margin-left: 40px;
    border-radius: 3px;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(3, 40, 97);
}

.list {
    list-style-type: none;
    background-color: rgb(3, 40, 97);
    height: 100%;
    height: 54px;
    display: flex;
    justify-content: right;
    align-items: right;
    position: relative;
    z-index: 900;
}
/* .carticon{
    color: rgb(189, 154, 39) !important;
    font-weight: bold !important;
    font-size: 70%;
    width: 100%;
    text-decoration: none;
} */
.css-i4bv87-MuiSvgIcon-root {
    color: white;
}
.login {
    text-decoration: none;
}
.items {
    margin-right: 50px;
    font-size: 20px;

    color: #f1f1f1;
    cursor: pointer;
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    visibility: hidden;
}
.shopinCart {
    margin-left: 50px;
    margin-top: 10px;
    color: rgb(0, 21, 114);
    text-shadow: 2px 2px #dac8c8;
}
.validatinnpass {
    color: red;
    margin-left: -5%;
}
.cartempty {
    margin-top: 180px;
    margin-left: 30%;
    text-shadow: 1px 1px #11649c;
    color: rgb(122, 85, 85);
}

#toast-container {
    margin-top: 1rem;
}

#toast-container.toast-top-full-width > .toast {
    max-width: 570px;
}

#toast-container > .toast-success {
    background-color: #00bb09;
    opacity: 1;

    margin-right: 30px !important;
    width: 400px !important ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* #toast-container>.toast-success:hover {
    background-color: #00bb09;
    opacity:1;
    box-shadow:0px 0px 10px rgba(0,0,0,0.4);
  } */

#toast-container > .toast-warning {
    background-color: #b39800;
    opacity: 1;
    margin-top: 60px;
    width: 400px !important ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#toast-container > .toast-error {
    margin-top: 150px;
    margin-right: 10px !important;

    width: 400px !important ;
    background-color: #c00000;
    opacity: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cancelItem {
    border-radius: 10px;
    margin-right: 10px;
}
.productspace {
    margin-top: 100px !important;
}
.loginnn {
}
.MuiMenu-paper {
    max-height: 240px !important;
    /* margin-top: 30px;
    margin-left: -70px; */
}
.allCategory {
    margin-top: 7px !important;
    color: rgb(189, 154, 39);
    font-weight: bold !important;
    font-size: 70% !important;
}
@media screen and (max-width: 770px) {
    .list {
        flex-direction: column;
        height: auto;
        background-color: rgb(3, 40, 97);
        width: 35%;
        margin-top: 30px;
        opacity: 100;
    }
    .items:nth-child(1) {
    }
    /* .productspace {
        opacity: 2 !important;
        z-index: -1;
    } */
    .content {
        height: 400px;
    }
    .cartitem {
        width: 100%;
        background-color: rgb(238, 238, 238);
        display: inline-block;
        margin-left: 0px;
        padding-top: 20px;
        text-align: center;
        border-radius: 5px;
        padding-bottom: 50px;
    }
    .productNamed {
        color: rgb(94, 134, 90);
        width: 100%;
        font-weight: bolder;
    }
    .payment {
        background: none;
        border: none;

        margin-left: 39%;
        background-color: rgb(0, 7, 100);
        color: white;
        cursor: pointer;
        padding-left: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 50px;

        border-radius: 4px;
        margin-bottom: 20px;
    }
    .pricess {
        margin-left: 16%;
    }
    .totel {
        margin-left: 31%;
        color: rgb(0, 21, 114);
        max-width: 270px;
        text-shadow: 2px 2px #dac8c8;
    }
    .itemRemove {
        border: none;
        cursor: pointer;
        margin-left: 0px;
        position: relative;
        top: -390px;
        left: 30%;
    }

    .productcartimage {
        height: 140px;
        width: 50%;
        border-radius: 20px;
        margin-left: 0px;
        text-align: center;
    }
    .Image2 {
        margin-top: -20px;
    }
    .login {
        margin-left: -35%;
    }
    .items {
        width: 100%;
        margin-top: -20px;
        text-align: left;

        padding: 20px 0;
    }
    /* .itemss {
        position: relative;
        top: 0px;
        left: px;
    } */
    .btn {
        display: block;
        visibility: visible;
    }
    .itemlogo {
        position: relative;
        top: -30px;
        left: -40px;
    }
    .loginformcontainer {
        margin-top: 180px;
        height: 400px;
        max-width: 600px !important;
    }
    .inputtextfield {
        width: 65%;
        height: 50px;
    }
    .loginitem {
        max-height: 380px;
        overflow: auto;
    }
    .loginbutton {
        width: 30%;
    }
    /* .signupcontainer {
        height: 600px;
    } */
    .signupitem {
        margin-top: -20px;
    }
    .textt {
        height: 40px;
        width: 65%;
    }
    .PrivateNotchedOutline-root-1 {
        height: 55px;
    }
    .requ {
        color: red;
        margin-left: -30%;
        height: 2px;
    }
    .productshowimage {
        margin-top: 50px;
        max-width: 100%;
       
    }
    .dddsss{
        max-width: 769px;
        
    }
    .productshow {
        max-width: 100%;
        max-height: 600px;
        display: block;
     
    }
    .carousel-slider {
        height: 200px !important;
    }

    .thumbs-wrapper {
        margin: 0px !important;

      
      
    }
    .productprizedetail {
      
     margin-top: 80px;
        text-align: center;
        
    }
}
