.productnav {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 224, 224);
}
.carts {
    transform: scale(1.5);
    margin-top: 20px;
    color: rgb(189, 154, 39);
    margin-left: 20px;
}
.counter {
    color: rgb(189, 154, 39);
    position: relative;
    top: -20px;
    font-weight: bold;
}
/* .productimage {
    width: 95%;
    height: 180px;
} */

.productItem {
    color: rgb(131, 131, 131);
    font-weight: bold;
    margin-left: 50px;
    cursor: pointer;
    margin-top: -5;
}
.MuiGrid-spacing-xs-2 {
    padding-top: 150px !important;
}
.productbuttn {
    background-color: rgb(0, 129, 161);
    width: 140px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-left: 40px;
}
.productbuttnn {
     background-color: rgb(0, 129, 161);

    height: 40px;
    border-radius: 10px;
    width: 130px;
    max-width: 130px;
    cursor: pointer;
  
     
}
.addtocart {
    position: relative;
    top: -5px;
    left: 6px;
    color: white;
    font-weight: normal;
}
.carticon{
    margin-left: -20px;
}
.productprize {
    color: rgb(204, 160, 15);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
    margin-top: -7px;
}
.MuiGrid-container {
    margin-top: -10px !important;
}

.dedmo {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    z-index: 0;
    cursor: default;
}

/* @media screen and (max-width: 600px) {
    .productbuttn {
        background-color: rgb(0, 129, 161);
        width: 80%;
        border-radius: 10px;
        cursor: pointer;
        margin-left: -4px;
        text-align: left;
    }
    .productimage {
        width: 100px;
        height: 100px;
    }
    .productItem {
        width: 10px;
        margin-left: -0px;
    }
}
@media screen and (max-width: 450px) { */


    /* .dedmo{
        width: 100%;
    } */


    /* .productItem {
        width: 60px;
        margin-left: -0px;
    }
    .productimage {
        width: 60px;
        height: 60px;
    }
    .productbuttn {
        background-color: rgb(0, 129, 161);
        width: 60px;
        border-radius: 4px;
        margin-top: -400px;
        cursor: pointer;
        text-align: left;
    }

    .productprize {
        width: 60px;
        margin-left: -0px;
  }  } */

